[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
requests = "*"
scipy = "*"
tqdm = "*"
pyyaml = "*"
tensorflow = "*"
torchvision = "*"
mpi4py-mpich = "*"
blobfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
